<a name="<%= record.uri %>"></a>
<% if ['collection', 'series', 'subseries'].include?(record.level) %>
  <tr>
    <% if record.level == 'series' %>
      <td colspan="3">
        <div class="series-entry">Series <%= roman_position %>: <%== process_mixed_content(record.display_string) %></div>
      </td>
    <% elsif record.level == 'subseries' %>
      <td></td>
      <td colspan="2">
        <div class="subseries-entry"><%== process_mixed_content(record.display_string) %></div>
      </td>
    <% end %>
  </tr>
<% end %>

<% Array(record.instances).each do |instance| %>
  <% if first_instance %>
    <tr>
      <td><span class="instance-header">Box</span></td>
      <td><span class="instance-header">Folder</span></td>
      <td></td>
    </tr>
  <% end %>

  <tr>
      <% if instance['sub_container']['indicator_2'] %>
        <td class="<%= new_box ? 'new-box' : '' %>"><%== instance['sub_container']['top_container']['_resolved']['indicator'] %></td>
        <td class="<%= new_box ? 'new-box' : '' %>"><%== instance['sub_container']['indicator_2'] %></td>
      <% else %>
        <td class="<%= new_box ? 'new-box' : '' %>" colspan="2">
          <% if instance['sub_container']['top_container']['_resolved']['type'] == 'box' %>
            <%== instance['sub_container']['top_container']['_resolved']['indicator'] %>
          <% else %>
            <%== I18n.t("enumerations.instance_instance_type." + instance['sub_container']['top_container']['_resolved']['type'],
                        :default => instance['sub_container']['top_container']['_resolved']['type'].capitalize) %>
            <%== instance['sub_container']['top_container']['_resolved']['indicator'] %>
          <% end %>
        </td>
      <% end %>

      <td class="<%= new_box ? 'new-box' : '' %>">
        <%== process_mixed_content(record.display_string) %>

        <% record.notes.each do |note_type, note| %>
          <% if ['physdesc', 'scopecontent'].include?(note_type) %>
            <% note.each do |n| %>
              <% if !n['is_inherited'] %>
                <br />
                <%== process_mixed_content(n['note_text']) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </td>
  </tr>
<% end %>
