
<% major_notes = ['bioghist', 'scopecontent'] %>

<% major_notes.each do |major_note_type| %>
  <% if major_note = record.notes[major_note_type] %>
    <div class="major-note">
      <a id="<%= major_note_type %>"></a>

      <% major_note.each do |note| %>
        <h3 class="note-header"><%= note['label'] || I18n.t("enumerations._note_types.#{major_note_type}") %></h3>

        <% note['note_text'].split(/<br *\/?>/).each do |para| %>
          <p class="note-content"><%= process_mixed_content(para) %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>


<% record.notes.each do |note_type, note| %>
    <% next if ['physdesc'].include?(note_type) %>
    <a id="note-<%= note_type %>"></a>
    <% note.each do |n| %>
      <h3>
        <% if n['label'] %>
            <%== process_mixed_content(n['label']) %>
        <% else %>
            <%= I18n.t("enumerations._note_types.#{note_type}") %>
        <% end %>
      </h3>
      <p><%== process_mixed_content(n['note_text']) %></p>
    <% end %>
<% end %>

<a id="administrative-information"></a>
<h3><%= I18n.t('pdf_reports.administrative_information') %></h3>

<h3><%= I18n.t('pdf_reports.publication_statement') %></h3>

<%= render(:partial => 'publication_statement', :locals => {
    :repository_name => record.resolved_repository['name'],
    :repository_information => record.repository_information
}) %>

<h3><%= I18n.t('pdf_reports.controlled_access_headings') %></h3>

<ul>
<% Array(record.subjects).each do |subject| %>
    <li><%= subject['title'] %></li>
<% end %>
</ul>

<div class="collection-inventory">
<% if has_children %>
    <a id="collection-inventory"></a>
    <h3><%= I18n.t('pdf_reports.collection_inventory') %></h3>
<% end %>
