
<% major_notes = ['bioghist', 'scopecontent'] %>

<% major_notes.each do |major_note_type| %>
  <% if major_note = record.notes[major_note_type] %>
    <div class="main-section">
      <a id="<%= major_note_type %>"></a>

      <% major_note.each do |note| %>
        <h3 class="main-section-header"><%= note['label'] || I18n.t("enumerations._note_types.#{major_note_type}") %></h3>

        <% note['note_text'].split(/<br *\/?>/).each do |para| %>
          <p class="note-content"><%= process_mixed_content(para) %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>


<div class="main-section">
  <a id="administrative-information"></a>
  <h3 class="main-section-header"><%= I18n.t('pdf_reports.administrative_information') %></h3>

  <% record.notes.each do |note_type, note| %>
    <% next if major_notes.include?(note_type) %>
    <% next if ['physdesc', 'abstract', 'langmaterial'].include?(note_type) %>

    <a id="note-<%= note_type %>"></a>
    <% note.each do |n| %>
      <h3>
        <% if n['label'] %>
            <%== process_mixed_content(n['label']) %>
        <% else %>
            <%= I18n.t("enumerations._note_types.#{note_type}") %>
        <% end %>
      </h3>
      <p><%== process_mixed_content(n['note_text']) %></p>
    <% end %>
  <% end %>

  <h3><%= I18n.t('pdf_reports.controlled_access_headings') %></h3>
  <ul>
    <% Array(record.subjects).each do |subject| %>
      <li><%= subject['title'] %></li>
    <% end %>
  </ul>
</div>

<div class="collection-inventory main-section">
<% if has_children %>
    <a id="collection-inventory"></a>
    <h3 class="main-section-header">Detailed Description of the Collection</h3>

    <table class="inventory-table">
      <tr>
        <th class="indicator-column"></th>
        <th class="indicator-column"></th>
        <th></th>
      </tr>
<% end %>
