<div class="title-page">
    <div class="logo"><%= image_tag( record.resolved_repository['image_url'] || asset_path("archivesspace.small.png"), {:class => 'logo-img'} ) %></div>
    <div class="title-block">

      <% if record.finding_aid['title'] %>
        <h3 class="title"><%== process_mixed_content(record.finding_aid['title'], :preserve_newlines => true) %></h3>
        <h4 class="subtitle italic"><%== if record.finding_aid['subtitle'] then process_mixed_content(record.finding_aid['subtitle'], :preserve_newlines => true) end %></h4>
      <% else %>
        <h3 class="title"><%== process_mixed_content(record.display_string, :preserve_newlines => true) %></h3>
      <% end %>

      <% unless record.dates.empty? %>
        <h4 class="dates"><%= record.dates.map{|d| d['final_expression']}.join('; ') %></h4>
      <% end %>

      <h4 class="identifier"><%= record.level.capitalize %> <%= record.identifier.split('.').last %></h4>

    </div>


  <div class="summary-section">
    <h4 class="summary-title">Descriptive Summary</h4>

    <table class="summary-table">
      <tr>
        <td class="summary-item-label">Creator<%= record.raw['creators_text'].length > 1 ? 's' : '' %>:</td>
        <td class="summary-item-value"><%= record.raw['creators_text'].join('; ') %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Title:</td>
        <td class="summary-item-value">
          <%= process_mixed_content(record.finding_aid['title']) %>
          <% if record.finding_aid['subtitle'] %>
            <span class="italic"><%= process_mixed_content(record.finding_aid['subtitle']) %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="summary-item-label">Dates:</td>
        <td class="summary-item-value"><%= record.dates.map{|d| d['final_expression']}.join('; ') %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Abstract:</td>
        <td class="summary-item-value"><%= process_mixed_content(record.json['notes'].select{|n| n['type'] == 'abstract'}.map{|n| n['content'].join('; ')}.join('; ')) %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Identification:</td>
        <td class="summary-item-value"><%= record.level.capitalize %> <%= record.identifier.split('.').last %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Extent:</td>
        <td class="summary-item-value"><%= record.extents.map{|e| e['display'].strip}.join(', ') %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Language:</td>
        <td class="summary-item-value"><%= record.lang_materials.map{|l| t('enumerations.language_iso639_2.' + l['language'])}.join(', ') %></td>
      </tr>
      <tr>
        <td class="summary-item-label">Repository:</td>
        <td class="summary-item-value"><%= record.resolved_repository['name'] %>, <%= record.resolved_repository['parent_institution_name'] %></td>
      </tr>
    </table>

  </div>
</div>
